/************************** GENERAL STYLES *************************/

* {
    box-sizing: border-box;
}

button {
    border: none;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

button:hover, a:hover {
    cursor: pointer;
}

.purple {
  color: #BA36FF;
}
.green {
  color: #36FFBC;
}
.blue {
  color: #367CFF;
}

.card{
  transition: all 0.3s;
  cursor:pointer;
  img{
    height:200px;
    object-fit: cover;
    object-position: center;
  }
  &:hover{
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
  }
}

