.page-login{
    height:90vh;
    display:flex;
    justify-content: center;
    align-items: center;
    > form{
        background:skyblue;
        width:300px;
        padding:20px;
        border-radius:10px;
        border:1px solid gainsboro;
        input{
            width:100%;
            margin-bottom:20px;
            border-radius:100px;
            padding:10px;
            border:0;
        }
        button{
            padding:10px;
            border-radius:4px;
            width:100%;
            border:0;
            background:rgba(#fff,0.5);
            cursor: pointer;
            transition:all 0.3s;
            &:focus{
                outline:none;
            }
            &:hover{
                background:black;
                color:white;
            }
        }

    }
}